@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-image:before {
    content: "";
    margin-top: 2rem;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 94%;
    height: 370px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
}

@media (max-width: 767px) {
    .slide-image:before {
        width: 95%;
    }
}

@media (min-width: 767px) and (max-width : 942px) {
    .slide-image:before {
        width: 90%;
    }
}